.loading {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    position: relative;
  }
  /* 使用伪元素，节省2个div */
  .loading::before,.loading::after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    background: black;
    border-radius: 50%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; 
    /* 线性（防止瞬间跳动）+无限 */
    animation: s 1.5s linear infinite ;
  }
  
  /* 添加动画 ，对后面那个div延时div动画执行*/
  .loading::after {
    animation-delay: 0.75s;
  }
  
  /* 由小到大，由深入浅 */
  @keyframes s {
   from { width:0;height: 0;opacity: 1; }
    to { width: 100px;height: 100px;opacity: 0; }
  }